body{

background:#111;

color:white;

font-family:Arial;

padding:20px;

}

.card{

background:#1f1f1f;

padding:20px;

border-radius:20px;

margin-bottom:20px;

text-align:center;

}

img{

width:90px;

height:90px;

border-radius:50%;

}

.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}

.widget{

background:#1e1e1e;

padding:25px;

border-radius:20px;

text-align:center;

}